__pycache__/
*.py[cod]

venv/
.venv/

Dockerfile
compose.yml
.dockerignore

.git/
.gitignore
README.md
LICENSE
CONTRIBUTING.md
docs/

.idea/

.env
.env.example

db.sqlite3
persistence.pickle
uploads/
