[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Common
python-dotenv = "1.0.0"
aiohttp = "3.8"
# Telegram
python-telegram-bot.all = "20.4"
httpx = "~=0.24"
# Localization
Babel = "2.12"
# Database
sqlalchemy.asyncio = "1.4"
asyncpg = "0.28"
alembic = "1.11"
# Async Celery tasks
celery = "5.3"
redis = "5"
# Scraping
beautifulsoup4 = "4.12"

[dev-packages]
aiosqlite = "0.19"

[requires]
python_version = "3"
